<table class="table table-hover">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <% users.each do |user|%>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image_icon.jpg" %>
      </td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user %></td>
    </tr>
  </tbody>
  <% end %>
</table>
