<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <% books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
          <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no_image_icon.jpg" %>
        <% end %>
      </td>
      <td><%= link_to book.title, book %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
  <% end %>
</table>
